body{ margin:0;
	font:normal 75% Arial, Helvetica, sans-serif;
}
canvas{
	display: block;
	vertical-align: bottom;
}

/* Credit to particle.js for the styling of my background */
/* ---- particles.js container ---- */
#particles-js{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #FFD19A, #FF8D8D);
	background-repeat: repeat;
	background-size: cover;
	background-position: 50% 50%;
}


html {
	height: 100%;
}


body {

	background-size: 100%;
}

.title {
	font-family: Futura;
	text-align: center;
	color: white;
	position: relative;
	padding-top: 5%;
	padding-bottom: 3%;
	margin-top: 0px;
}

#accordian {
	color: rgba(0,0,0,0);
}


.panel-title {
	position: relative;
	text-align: center;
	font-family: "Monument Extended";
	font-size: 4em;
	-webkit-text-stroke: 2px white;
	-webkit-text-fill-color: rgba(0,0,0,0);
	margin-top: 40px;
}

.col {
	text-align: center;
	font-family: Futura;
	font-size: 2em;
	color: white;
	margin: 20px;
}

/*Credit to https://www.w3schools.com/howto/howto_css_cards.asp for the creation of cards*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #A2C6F0;
  color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h5 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: left;
}

h6 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  text-align: left;
}